<strong>Ola, {{ provider }}</strong>
<p>Houve um cancelamento de horario, confira os detralhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br /><br />
  <small>
    O horario está novamente disponivel para novos agendamentos
  </small>
</p>
